body{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: #000000;
}
#showThis1{
  display: none;
}
#showThis2{
  display: none;
}
img{
  max-width: 100%;
  display: block;
  margin: auto;
}
h1{
  font-size:230px;
}
h2{
  font-weight: 700;
  font-size: 84px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
#hr1{
  border-width: 15px;
  border-color: #000000;
  margin-left: 5%;
  margin-right: 5%;
}
#hr2{
  border-width: 8px;
  border-color: #000000;
  margin-left: 5%;
  margin-right: 5%;
}
ul{
  text-align: left;
  font-size: 30px;
  list-style-type: square;
  margin-left: 40px;
}
.test{
  color: red;
}
.btn{
  background: none;
  border: 2px solid #000000;
  color: #000000;
  border-radius: 0;
  padding: 3px;
}
.btn:hover{
  background: #f2f2f3;
}
input{
  border: 1.5px solid #000000;
}
.jumbotron{
  background-color: #000000;
  color: white;
  text-align: left;
}
.jumbotron h3{
  font-size: 45px;
}
#showThis2 p{
  text-align: left;
}
