#correct{
  display: none;
}
.makeRed{
  background-color: red;
}
#incorrect{
  display: none;
}
#showThis3{
  display:none;
}
body{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: #000000;
}
#showThis1{
  display: none;
}
#showThis2{
  display: none;
}
img{
  max-width: 100%;
  display: block;
  margin: auto;
}
h1{
  font-size:230px;
}
h2{
  font-weight: 700;
  font-size: 84px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
#hr1{
  border-width: 15px;
  border-color: #000000;
  margin-left: 5%;
  margin-right: 5%;
}
#hr2{
  border-width: 8px;
  border-color: #000000;
  margin-left: 5%;
  margin-right: 5%;
}
#hr3{
  border-width: 7px;
  border-color: #000000;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1px;
}
#hr4{
  border-width: 4px;
  border-color: #000000;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1px;
}
ul{
  text-align: left;
  font-size: 30px;
  list-style-type: square;
  margin-left: 40px;
}
.test{
  color: red;
}
.btn{
  background: none;
  border: 1.5px solid #000000;
  color: #000000;
  border-radius: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn:hover{
  background: #f2f2f3;
}
label, p{
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 10px;
}
label, input{
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
label, input{
  width: 250px;
}
#solutionForm label, #solutionForm input{
  width: 300px;
  margin-bottom: 8px;
}
h4{
  font-family: 'Archivo Narrow', sans-serif;
  margin-left: 5%;
}
input{
  border: 1.5px solid #000000;
  margin-bottom: 3px;
}
#showThis2 p{
  text-align: left;
  margin-left: 5%;
}
#solution h3{
  text-align: left;
  margin-left: 5%;
}
.answer{
  text-align: left;
  background: white;
  padding: 0.5px;
}
.answer h3{
  font-size: 45px;
  margin-top: 2px;
  margin-left: 5%;
}
@media (min-width: 2500px){
  .container{
    width: 1300px;
  }
  label, input{
    width: 400px;
    margin-bottom: 15px;
  }
  label{
    line-height: 30px;
  }
  p{
    font-size: 2em;
    line-height: 15px;
  }
  label{
    font-size: 2em;
  }
}
@media (max-width: 450px){
  label, input{
    width: 100px;
  }
}
